<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="mixedAuthentication" type="Shared.Web.Configuration.MixedAuthenticationSection, Shared" />
	</configSections>
	<location>
		<system.web>
			<authentication mode="Forms">
				<forms name="WebFormsApplication-SignIn" loginUrl="~/Util/SignIn.aspx" timeout="120" />
			</authentication>
			<compilation debug="true" targetFramework="4.5" />
			<httpRuntime targetFramework="4.5" />
			<roleManager defaultProvider="RoleProvider" enabled="true">
				<providers>
					<add name ="RoleProvider" type="Shared.Web.Security.RoleProvider, Shared" />
				</providers>
			</roleManager>
		</system.web>
		<system.webServer>
			<modules>
				<add name="MixedAuthentication" type="Shared.Web.Security.MixedAuthenticationModule, Shared" />
				<remove name="FormsAuthentication" />
			</modules>
			<security>
				<authentication>
					<anonymousAuthentication enabled="true" />
					<windowsAuthentication enabled="false" />
				</authentication>
			</security>
		</system.webServer>
	</location>
	<location path="Administration">
		<system.web>
			<authorization>
				<allow roles="Administrators" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Util/WindowsSignIn.aspx">
		<mixedAuthentication formsAuthenticationDisabled="true" />
		<system.webServer>
			<security>
				<authentication>
					<anonymousAuthentication enabled="false" />
					<windowsAuthentication enabled="true" />
				</authentication>
			</security>
		</system.webServer>
	</location>
</configuration>